center{
    background-color: aqua;
}

.navbar-laravel .navbar-brand {
  color: #fff;
}

table{
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

div{
  color:rgb(25, 134, 134);
}

.ms-5 {
  margin-left: (Materia * .25) !important;
}

.required::after 
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.buscar{
  position: absolute;
  padding: Spx;
}
.buscar input{
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}